<h1><%= current_user.email%>'s ToBoom Items</h1>
<h4>All your things to do:</h4>
<%= render @user.items.incomplete_items %>

<% if current_user %>
  <%= render partial: 'items/form',  locals: {user: @user} %>
<% end %>

<h4> All your completed things: </h4>
<%= render @user.items.complete_items %>