<br>
<br>
<div class="container">
  <div class="items">
    <h4>You have <span id='itemCount'><%= pluralize(@user.items.incomplete_items.count, 'thing') %></span> to do:</h4>
    <%= render @user.items.incomplete_items %>
  </div>

  <div class="item-form">
    <% if current_user %>
      <%= render partial: 'items/form',  locals: {user: @user} %>
    <% end %>
  </div>

  <div class="items">
    <h4> All your completed things: </h4>
    <%= render @user.items.complete_items %>
  </div>
</div>
