
<br>
<div class="jumbotron">
  <div class="jumbo-text">
    <h1>This. Is. Toboom.</h1>
    <p> a self destructing to-do app </p>
  </div>
</div>
    <div class="row">
      <div class="col-md-4">
        <h4>List your task</h4>
      </div>

      <div class="col-md-4">
        <h4>Complete your task</h4>
      </div>

      <div class="col-md-4">
        <h4>Tasks will implode after 7 days</h4>
      </div>
    </div>
  </div>
</div>
<br>
<br>