<div class="media" id='item-<%= item.id %>'>
  <div class="media-body">
    <p><%= item.name %> <%= link_to "", user_item_path(item.user, item), method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %></p>
  </div>
</div>