.header{
  color: d3d3d3;
  text-align: center;
  padding-bottom: 50px;
}

.items{
  padding-bottom: 30px;
  padding-left: 20px;
}

.item-form{
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
}